 {{!-- <input type="text" name="doj" value="" id="auto-dp" class="form-control date-picker valid" /> --}}
<div class='' id='datetimepicker1'>
{{#if normal}}
    <input type="text" class="date-picker live-form-control" name="journey_date" value="" id="auto-dp" data-date-format="dd-mm-yyyy">
{{else}}
    <input type="text" class="date-picker form-control" name="doj" value="" id="auto-dp" data-date-format="dd-mm-yyyy">
{{/if}}
</div>
