 {{!-- <input type="text" name="doj" value="" id="auto-dp" class="form-control date-picker valid" /> --}}
<div class='input-group date' id='datetimepicker1'>
    <input type="text" class="form-control  date-picker" name="doj" value="" id="auto-dp" data-date-format="dd-mm-yyyy">
    {{!-- <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span> --}}
</div>