<div class="bgclr-white row marg-btm-15">
        <div class="col-xs-12">
          <div class="row rail-mall">
            <div class="col-xs-12">
              <div class="col-xs-4 no-pad">
                <h2>RAIL MALL</h2>
              </div>
            </div>
          </div>
          <div class="market-place">
            <div id="mrkt-plc-scrl" class="market-scroll clearfix">
              <div class="rail-mall-icon text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/images/railmall-icon/icon-train-booking.png" alt="Train Ticket RailMall Icon">
                  <p>Train Ticket</p>
                </a>
              </div>
              <div class="rail-mall-icon text-center">
                {{#link-to 'bus-booking.search'}}
                  <img src="/assets/images/railmall-icon/icon-bus-ticket.png" alt="Bus Ticket RailMall Icon">
                  <p>Bus Ticket</p>
                {{/link-to}}
              </div>
              <div class="rail-mall-icon text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/images/railmall-icon/food.png" alt="Food On Train RailMall Icon">
                  <p>Food on Train</p>
                </a>
              </div>
              <div class="rail-mall-icon text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/images/railmall-icon/icon-travel-store.png" alt="Travel Store RailMall Icon">
                  <p>Travel Store</p>
                </a>
              </div>
              <div class="rail-mall-icon text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/images/railmall-icon/icon-short-stays.png" alt="icon">
                  <p>Train Ticket</p>
                </a>
              </div>

              <div class="rail-mall-icon text-center">
                <a href="javascript:void(0);">
                  <img src="/assets/images/railmall-icon/icon-bus-ticket.png" alt="icon">
                  <p>Bus Ticket</p>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 rail-mall-bottom no-pad">
              <div class="col-xs-6">
                <img src="/assets/images/icons/icon-wallet-home.png" class="img-responsive" alt="Wallet RailYatri Icon">
              </div>
              <div class="col-xs-6 no-pad">
                <label>&#8377; 250</label>
              </div>
              <div class="col-xs-12 text-right">
                <p>RailYatri Cash</p>
              </div>
            </div>
            <div class="col-xs-4 rail-mall-bottom no-pad">
              <div class="col-xs-6">
                <img src="/assets/images/icons/icon-reward-home.png" class="img-responsive" alt="Wallet RailYatri Icon">
              </div>
              <div class="col-xs-6 no-pad">
                <label>100</label>
              </div>
              <div class="col-xs-12 text-right">
                <p>Reward Points</p>
              </div>
            </div>
            <div class="col-xs-4 rail-mall-bottom no-pad">
              <div class="col-xs-6">
                <img src="/assets/images/icons/icon-offer-home.png" class="img-responsive" alt="Wallet RailYatri Icon">
              </div>
              <div class="col-xs-6 no-pad">
                <label>0</label>
              </div>
              <div class="col-xs-12 text-right">
                <p>RY Exclusive Offers</p>
              </div>
            </div>                
          </div>
        </div>
      </div>
{{yield}}
