{{input type=text value=name class="stationpicker" placeholder="Enter Name or Code"}}
<span class="clear_input" title="clear field" ><i class="fa fa-times fa-2x" aria-hidden="true" {{action "clearInput" "clear_input" model name}}></i></span>
{{yield}}
