{{input value=model.trainNumber placeholder="Train Numbet" class="trainpicker" id="train_number" }}
<span class="clear_input" title="clear field" ><i class="fa fa-times fa-2x" aria-hidden="true" {{action "clearInput" "clear_input"  model.trainNumber}}></i></span>
{{yield}}
