{{partial "navbar" title="Home"}}
 <div id="mobile-home" class="bgclr-grey">
 <button class="btn btn-lg btn-primary"{{action 'openDetailsModal'}} >show</button>
    <div class="container-fluid">
      <div class="marg-btm-15">
        <div class="row bgclr-white menu-box">
          <div class="col-xs-3 menu-options text-center">
            {{!-- <a href="/time-table"> --}}
             {{#link-to 'time-table-search'}}
              <img src="/assets/images/icons/icon-time-table.png" alt="Time Table RailYatri Icon">
              <p>Time<br/> Table</p>
              {{/link-to}}
          </div>
          <div class="col-xs-3 menu-options text-center">
            <a href="/pnr-status">
              <img src="/assets/images/icons/icon-pnr-status.png" alt="PNR Status RailYatri Icon">
              <p>PNR<br/> Status</p>
            </a>
          </div>
          <div class="col-xs-3 menu-options text-center">
            <a {{action "doSome"}}>
              <img src="/assets/images/icons/icon-train-status.png" alt="Train Status RailYatri Icon">
              <p>Train<br/> Status</p>
            </a>
          </div>
          <div class="col-xs-3 menu-options text-center">
            {{!-- <a href="/live-arr-dep-search"> --}}
            {{#link-to 'live-arr-dep-search'}}  
              <img src="/assets/images/icons/icon-arr-dep.png" alt="Live Arrival and Departure RailYatri Icon">
              <p>Live<br/> Arrv/Dep</p>
            {{!-- </a> --}}
            {{/link-to}}
          </div>
          <div class="col-xs-3 menu-options text-center">
            <a href="/rail-wisdom">
              <img src="/assets/images/icons/icon-wisdom.png" alt="Rail Wisdom RailYatri Icon">
              <p>Rail<br/> Wisdom</p>
            </a>
          </div>
          <div class="col-xs-3 menu-options text-center">
            <a href="/seat-availability">
              <img src="/assets/images/icons/icon-seat-available.png" alt="Seat Availability RailYatri Icon">
              <p>Seat<br/> Availability</p>
            </a>
          </div>
          <div class="col-xs-3 menu-options text-center">
            {{#link-to "trains-between-station"}}
              <img src="/assets/images/icons/icon-train-between.png" alt="icon">
              <p>Trains b/w<br/> Stations</p>
            {{/link-to}}
          </div>
          <div class="col-xs-3 menu-options text-center expand-btn">
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#demo" class="collapsed">
              <img src="/assets/images/icons/icon-more.png" alt="Menu Expand RailYatri Icon">
              <!-- <p>Random Test</p> -->
            </a>
          </div>
        </div>
        <div id="demo" class="row bgclr-white menu-box collapse">
          <div class="col-xs-3 menu-options text-center">
            <a href="javascript:void(0);">
              <img src="/assets/images/icons/icon-locals-metros.png" alt="Locals and Metros RailYatri Icon">
              <p>Locals<br/> and Metros</p>
            </a>
          </div>
          <div class="col-xs-3 menu-options text-center">
            <a href="javascript:void(0);">
              <img src="/assets/images/icons/icon-fare-cal.png" alt="Fare Calculator RailYatri Icon">
              <p>Fare<br/> Calculator</p>
            </a>
          </div>
          <div class="col-xs-3 menu-options text-center">
            <a href="javascript:void(0);">
              <img src="/assets/images/icons/icon-wallet.png" alt="My Wallet RailYatri Icon">
              <p>My<br/> Wallet</p>
            </a>
          </div>
          <div class="col-xs-3 menu-options text-center">
            <a href="javascript:void(0);">
              <img src="/assets/images/icons/icon-offer.png" alt="Offers In App RailYatri Icon">
              <p>Offers<br/> In App</p>
            </a>
          </div>
                    <!-- <div class="col-xs-3 menu-options text-center">
                        <a href="javascript:void(0);">
                            <img src="/assets/images/icon-temp.png" alt="icon">
                            <p>Random Test</p>
                        </a>
                    </div>
                    <div class="col-xs-3 menu-options text-center">
                        <a href="javascript:void(0);">
                            <img src="/assets/images/icon-temp.png" alt="icon">
                            <p>Random Test</p>
                        </a>
                    </div>
                    <div class="col-xs-3 menu-options text-center">
                        <a href="javascript:void(0);">
                            <img src="/assets/images/icon-temp.png" alt="icon">
                            <p>Random Test</p>
                        </a>
                    </div>
                    <div class="col-xs-3 menu-options text-center">
                        <a href="javascript:void(0);">
                            <img src="/assets/images/icon-temp.png" alt="icon">
                            <p>Random Test</p>
                        </a>
                      </div> -->
                    </div>
      </div>

      <div class="row bgclr-white marg-btm-15">
        <div class="col-xs-12">
          <div class="ry-updates">
            <h2>RY UPDATES</h2>
            <p>Get the quick updates, stories, fun and more</p>
          </div>
        </div>
      </div>

      {{home-page}}
      
      <div class="row bgclr-white marg-btm-15">
        <div class="food-card">
          <img src="/assets/images/milk-box-card.png" class="img-responsive">
        </div>
      </div>

      <div class="row bgclr-white trip-sect">
        <div class="col-xs-12">
          <p>UPCOMING TRIPS</p>
        </div>
      </div>

      <div class="row bgclr-white trip-info marg-btm-15">
        <div class="col-xs-12">
          <div class="col-xs-3 dt-tm">
            <label>31</label>
            <label>Jan</label>
            <label>6:00</label>
            <label>AM</label>
            <p>PF # 18</p>
          </div>
          <div class="col-xs-9 trip-details">
            <p>1 day to go</p>
            <label>12859 - MUMBAI CST - HOWRAH</label>
            <p>CSTM &#8594; KGP</p>
            <div class="trip-confirm">
              <span>CNF</span>
              <span>CNF</span>
            </div>
            <h6>Status: 22 minutes ago</h6>
          </div>
        </div>
        <div class="food-card">
          <img src="/assets/images/food-card.png" class="img-responsive">
        </div>
      </div>
      
      <div class="row bgclr-white bulletin-sect marg-btm-15">
        <div class="col-xs-12">
          <p>RY BULLETIN</p>
        </div>
        <div class="col-xs-5 bulletin-img">
          <div class="card-img">
            <img src="/assets/images/webview-card1.png" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-7 bulletin-info">
          <label for="">Cruise along the Alleppey backwaters in a houseboat</label>
          <p>
            Nestled on the western edges of the Himalayan range of Dhauladhar, Dalhousie is one of the most
          </p>
          <p>
            <a href="#">Book Kerala Tickets</a>
          </p>
        </div>
      </div>

      <div class="row bgclr-white rystory-sect marg-btm-15">
        <div class="ry-head">
          <div class="col-xs-8">
            <p>RY STORIES</p>
          </div>
          <div class="col-xs-4 text-right">
            <p><a href="#">View All</a></p>
          </div>
        </div>
        <div class="col-xs-3">
          <img src="/assets/images/milk-box-card.png" class="img-responsive">
        </div>
        <div class="col-xs-9">
          <label for="">Crossing 1 Crore Mark</label>
          <p>We are happy to announce that RailYatri app has</p>
        </div>
        <div class="col-xs-3">
          <img src="/assets/images/milk-box-card.png" class="img-responsive">
        </div>
        <div class="col-xs-9">
          <label for="">Crossing 1 Crore Mark</label>
          <p>We are happy to announce that RailYatri app has</p>
        </div>
      </div>
      
    </div>
  </div>
  