{{partial "navbar" title="Home"}}
<div id="mobile-home" class="bgclr-grey">
  <div class="container-fluid">
    <div class="mar-botom-15">
      <div class="row bgclr-white menu-box">
        <div class="col-xs-3 menu-options text-center">
          {{#link-to 'time-table-search'}}
            <span class="sprite-mobile icon-time-table" title="Time Table RailYatri Icon"></span>
            <p>Time<br/> Table</p>
          {{/link-to}}
        </div>
        <div class="col-xs-3 menu-options text-center">
          <a href="/pnr-status">
            <span class="sprite-mobile icon-pnr-status" title="PNR Status RailYatri Icon"></span>
            <p>PNR<br/> Status</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options text-center">
           <a {{action "doSome"}}>
            <span class="sprite-mobile icon-train-status" title="Train Status RailYatri Icon"></span>
            <p>Train<br/> Status</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options text-center">
          {{#link-to 'live-arr-dep-search'}}
            <span class="sprite-mobile icon-arr-dep" title="Live Arrival and Departure RailYatri Icon"></span>
            <p>Live<br/> Arrv/Dep</p>
          {{/link-to}}
        </div>
        <div class="col-xs-3 menu-options no-divider text-center">
          <a href="/rail-wisdom">
            <span class="sprite-mobile icon-wisdom" title="Rail Wisdom RailYatri Icon"></span>
            <p>Rail<br/> Wisdom</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options no-divider text-center">
          <a href="/seat-availability">
            <span class="sprite-mobile icon-seat-available" title="Seat Availability RailYatri Icon"></span>
            <p>Seat<br/> Availability</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options no-divider text-center">
          {{#link-to "trains-between-station"}}
            <span class="sprite-mobile icon-train-between" title=""></span>
            <p>Trains b/w<br/> Stations</p>
          {{/link-to}}
        </div>
        <div class="col-xs-3 menu-options no-divider text-center">
          <a href="/user_wallets/index">
            <span class="sprite-mobile icon-wallet" title="My Wallet RailYatri Icon"></span>
            <p>My<br/> Wallet</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options text-center expand-btn hide">
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#demo" class="collapsed">
            <img src="/assets/images/icons/icon-more.png" alt="Menu Expand RailYatri Icon">
            <!-- <p>Random Test</p> -->
          </a>
        </div>
      </div>
      <div id="demo" class="row bgclr-white menu-box collapse hide">
        <div class="col-xs-3 menu-options text-center">
          <a href="javascript:void(0);">
            <span class="sprite-mobile icon-locals-metros" title="Locals and Metros RailYatri Icon"></span>
            <p>Locals<br/> and Metros</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options text-center">
          <a href="javascript:void(0);">
            <span class="sprite-mobile icon-fare-cal" title="Fare Calculator RailYatri Icon"></span>
            <p>Fare<br/> Calculator</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options text-center">
          <a href="/user_wallets/index">
            <span class="sprite-mobile icon-wallet" title="My Wallet RailYatri Icon"></span>
            <p>My<br/> Wallet</p>
          </a>
        </div>
        <div class="col-xs-3 menu-options text-center">
          <a href="javascript:void(0);">
            <span class="sprite-mobile icon-offer" title="Offers In App RailYatri Icon"></span>
            <p>Offers<br/> In App</p>
          </a>
        </div>  
      </div>
    </div>
      <div class="row bgclr-white marg-btm-15">
        <div class="col-xs-12">
          <div class="ry-updates">
            <h2>RY UPDATES</h2>
            <p>Get the quick updates, stories, fun and more</p>
          </div>
        </div>
      </div>

      {{home-page}}
      
      <div class="row bgclr-white marg-btm-15">
        <div class="food-card">
          <img src="/assets/images/milk-box-card.png" class="img-responsive">
        </div>
      </div>

      <div class="row bgclr-white trip-sect">
        <div class="col-xs-12">
          <p>UPCOMING TRIPS</p>
        </div>
      </div>

      <div class="row bgclr-white trip-info marg-btm-15">
        <div class="col-xs-12">
          <div class="col-xs-3 dt-tm">
            <label>31</label>
            <label>Jan</label>
            <label>6:00</label>
            <label>AM</label>
            <p>PF # 18</p>
          </div>
          <div class="col-xs-9 trip-details">
            <p>1 day to go</p>
            <label>12859 - MUMBAI CST - HOWRAH</label>
            <p>CSTM &#8594; KGP</p>
            <div class="trip-confirm">
              <span>CNF</span>
              <span>CNF</span>
            </div>
            <h6>Status: 22 minutes ago</h6>
          </div>
        </div>
        <div class="food-card">
          <img src="/assets/images/food-card.png" class="img-responsive">
        </div>
      </div>
      
      <div class="row bgclr-white bulletin-sect marg-btm-15">
        <div class="col-xs-12">
          <p>RY BULLETIN</p>
        </div>
        <div class="col-xs-5 bulletin-img">
          <div class="card-img">
            <img src="/assets/images/webview-card1.png" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-7 bulletin-info">
          <label for="">Cruise along the Alleppey backwaters in a houseboat</label>
          <p>
            Nestled on the western edges of the Himalayan range of Dhauladhar, Dalhousie is one of the most
          </p>
          <p>
            <a href="#">Book Kerala Tickets</a>
          </p>
        </div>
      </div>

      <div class="row bgclr-white rystory-sect marg-btm-15">
        <div class="ry-head">
          <div class="col-xs-8">
            <p>RY STORIES</p>
          </div>
          <div class="col-xs-4 text-right">
            <p><a href="#">View All</a></p>
          </div>
        </div>
        <div class="col-xs-3">
          <img src="/assets/images/milk-box-card.png" class="img-responsive">
        </div>
        <div class="col-xs-9">
          <label for="">Crossing 1 Crore Mark</label>
          <p>We are happy to announce that RailYatri app has</p>
        </div>
        <div class="col-xs-3">
          <img src="/assets/images/milk-box-card.png" class="img-responsive">
        </div>
        <div class="col-xs-9">
          <label for="">Crossing 1 Crore Mark</label>
          <p>We are happy to announce that RailYatri app has</p>
        </div>
      </div>
      
    </div>
  </div>