<div class="legand-seats">
   
   <div class="col-xs-2 text-center">
   	<div class="l_3AF7">
	  <div class="_HSH_">
	   		<span class="_2CpW _1Zjt"></span>
	   		<span class="U6x5 _1Zjt"></span>
	   		<span class="_19QY _1Zjt"></span>
		</div>
	</div>
	 <div class="legend-text">Available Seat </div>
   </div>

   	<div class="col-xs-2 text-center">
   		<div class="l_3AF7">
	  <div class="_HSH_ l_1LG_">
	   		<span class="_2CpW _1Zjt"></span>
	   		<span class="U6x5 _1Zjt"></span>
	   		<span class="_19QY _1Zjt"></span>
		</div>
	 </div>
	 <div class="legend-text">Selected Seat </div>
  </div>

   	<div class="col-xs-2 text-center">
   		<div class="l_3AF7">
	  <div class="_HSH_ lIlqM">
	   		<span class="_2CpW _1Zjt"></span>
	   		<span class="U6x5 _1Zjt"></span>
	   		<span class="_19QY _1Zjt"></span>
		</div>
	</div>
	<div class="legend-text">Booked Seat </div>
   	</div>

   	<div class="col-xs-2 text-center">
   		
	<div class="l_3AF7">
	  <div class="_HSH_ lpXg8">
	   		<span class="_2CpW _1Zjt"></span>
	   		<span class="U6x5 _1Zjt"></span>
	   		<span class="_19QY _1Zjt"></span>
		</div>
	</div>
	<div class="legend-text">Booked By Ladies </div>
   	</div>

   	<div class="col-xs-2 text-center">
   	<div class="l_3AF7">
	  <div class="_HSH_ l_39aI">
	   		<span class="_2CpW _1Zjt"></span>
	   		<span class="U6x5 _1Zjt"></span>
	   		<span class="_19QY _1Zjt"></span>
		</div>
	</div>
   <div class="legend-text">Reserved for Ladies </div>
 </div>	
</div>
