<nav class="top-nav-block navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 go-prev">
          <img src="/assets/images/arrow-main.png" alt="" id="goBackBtn" {{action "goBack"}} >
        </div>
        <div class="col-xs-9 nav-title">{{title}}</div>
        <div class="col-xs-1 opt-nav">
          {{!-- <div class="dropdown">
            <!-- three dots -->
            <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <!-- menu -->
            <div id="myDropdown" class="dropdown-content">
              <a href="#opt1">Option1</a>
              <a href="#opt2">Option2</a>
              <a href="#opt3">Option3</a>
            </div>
          </div> --}}
        </div>
      </div> 
    </div>
  </nav>
{{!-- <div id="drawerExample" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="drawerExample">
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</div> --}}