{{partial "navbar"}}
<div class="container-fluid bgclr-wht shadow">
  <div class="row">
    <div class="train-search-block">
      <form>
        <div class="col-xs-12">
          <label class="label-colr">12057 - NEW DELHI - UNA HIMACHAL JAN SHATABDI EXPRESS</label>
        </div>
        <div class="col-xs-1 pnr-watch top-pad">
          <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 25px; color: #7f7f7f"></i>
        </div>
        <div class="col-xs-11 top-pad">
          <p class="p-colr"><span>14:35 New Delhi (NDLS)</span>
          <span style="font-size: 20px;">&#8594;</span>
          <span>19:05 Chandigarh (CDG)</span></p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-1 pnr-watch top-pad">
          <i class="fa fa-calendar" aria-hidden="true" style="font-size: 20px; color: #7f7f7f"></i>
        </div>
        <div class="col-xs-11 top-pad">
          <p class="p-colr">Tue, 14 Mar 2017</p>
        </div>

        <div class="clearfix"></div>
        <div class="col-xs-5 col-xs-offset-1 bottom-pad">
          <p class="p-colr">Class 2S</p>
        </div>
        <div class="col-xs-6 bottom-pad">
          <p class="text-right p-colr">Platform 10</p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid bgclr-wht margin-top-15">
  <div class="row">
    <div class="search-hist-block">
      <div class="col-xs-12">
        <p class="hist">PNR STATUS</p>
      </div>
      <div class="empty-pnr">
        <div class="col-xs-12">
         <p class="p-colr">Chart Not Prepared</p>
        </div>
      </div>
    </div>
  </div>
</div>
