{{partial "navbar" title="Home"}}
<div class="container-fluid">
  <div class="row train-search-pill">
    <ul class="nav nav-tabs">
      <li class="col-xs-6 no-pad text-center active">
        <a data-toggle="tab" href="#home">BY TRAIN</a>
      </li>
      <li class="col-xs-6 no-pad text-center">
        <a data-toggle="tab" href="#menu1">BY STATION</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="row bgclr-wht">
        <div class="train-srch-block">
          <form>
            <div class="col-xs-12">
              <label>Train No. or Name</label>
              <input type="text" name="" placeholder="Enter">
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 stn-srch-btn">
              <a href="#" class="btn btn-block">SEARCH</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="row bgclr-wht">
        <div class="train-srch-block">
          <form>
            <div class="col-xs-12">
              <label>Train No. or Name</label>
              <input type="text" name="" placeholder="Enter">
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 stn-srch-btn">
              <a href="#" class="btn btn-block">SEARCH</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bgclr-wht margin-top-15">
    <div class="row">
      <div class="seat-hist-block">
        <div class="col-xs-12">
          <p class="hist-title">RECENT SEARCHES</p>
        </div>
        <div class="seat-hist-info">
          <div class="col-xs-2 left-icon">
            <img src="/assets/images/list-icon-seat.png" alt="list icon-seat" class="img-responsive">
          </div>
          <div class="col-xs-8 train-content">
            <p class="train-search-pill-colr">12057 NEW DELHI - UNA HIMACHAL JAN SHATABDI EXPRESS</p>
            <span class="train-search-pill-colr">09/09/1984</span>
            <div class="train-ticket-info">
              <span class="train-search-pill-colr">CSTM &#8594; HWH</span> <span class="train-search-pill-colr">Sleeper</span> <span class="train-search-pill-colr">General</span>
            </div>
          </div>
          <div class="col-xs-2 right-icon">
            <a href="javascript:void(0);">
              <img src="/assets/images/delete-button.png" alt="arrow icon" class="img-responsive hist-delete">
            </a>
          </div>
        </div>
        <div class="seat-hist-info">
          <div class="col-xs-2 left-icon">
            <img src="/assets/images/list-icon-seat.png" alt="list icon-seat" class="img-responsive">
          </div>
          <div class="col-xs-8 train-content">
            <p class="train-search-pill-colr">12057 NEW DELHI - UNA HIMACHAL JAN SHATABDI EXPRESS</p>
            <span class="train-search-pill-colr">09/09/1984</span>
            <div class="train-ticket-info">
              <span class="train-search-pill-colr">CSTM &#8594; HWH</span> <span class="train-search-pill-colr">Sleeper</span> <span class="train-search-pill-colr">General</span>
            </div>
          </div>
          <div class="col-xs-2 right-icon">
            <a href="javascript:void(0);">
              <img src="/assets/images/delete-button.png" alt="arrow icon" class="img-responsive hist-delete">
            </a>
          </div>
        </div>
        <div class="col-xs-12">
          <p class="col-12-blank">&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
