<div id="drawerExample" class="drawer dw-xs-12 dw-sm-6 dw-md-4 fold" aria-labelledby="drawerExample">
    <div class="drawer-controls">
        {{!--  <a href="#drawerExample" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample" class="btn btn-primary btn-sm">Menu</a> --}}
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title">Filter</h2>
        </div>
        <div class="drawer-body">
            <div class="" >
                <div class="header-withback">
                    <span class="previous pull-right"><a class="on-filter" href="#" data-remote="true"><i class="fa fa-times" aria-hidden="true"></i></a></span>
                    <p class="text-center">Filters</p>
                </div>
                <form id="filter_form" action="" method="post" data-remote="true">
                    <div class="filter-container filter-data-bus" onclick="">
                        {{filter-data}}
                        <input type="hidden" name="from_code" value="" />
                        <input type="hidden" name="to_code" value="" />
                        <input type="hidden" name="doj" value="" />
                        <input type="hidden" name="no_of_pass" value="" />

                        <div class="footer-popup navbar-fixed-bottom text-center">
                            <div class="col-xs-6 cancel-button reset-form">CLEAR FILTER</div>
                            <div class="col-xs-6 submit-button" type="submit" value="Submit" id="submit-button">APPLY FILTER</div>
                        </div>
                    </div>
              </form>
            </div>
        </div>
    </div>
</div>
