{{nav-bar title="Time Table" status=model}}
<div class="offer-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 offer-box">
          <span id="offer-box-close" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;">x</span>
          <p class="text-center">EXP PLATFORM NO. ARE INDICATIVE. RECHECK AT THE STATION
         </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bgclr-wht">
    <div class="row">
      <div class="train-inpt-block text-center">
        <div class="col-xs-5">
          <label class="text-left">NEW DELHI <span>(NDLS)</span></label>
        </div>
        <div class="col-xs-2">
          <img src="/assets/images/arrow-next.png" alt="railyatri arrow next station" class="direction">
        </div>
        <div class="col-xs-5">
          <label class="text-right">CHANDIGARH <span>(CDG)</span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bgclr-wht margin-top-15">
    <div class="train-result-block">
      <div class="row divider">
        <div class=" train-result-head">
          <div class="col-xs-8">
            <label for="">TRAINS</label>
          </div>
          <div class="col-xs-4 text-right">
            <div class="dropdown-2"> 
              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Next 2hrs
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">4hrs</a></li>
                <li><a href="#">6hrs</a></li>
                <li><a href="#">8hrs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="trn-rslt-show divider">
          <div class="col-xs-12">
            <p><span>12306</span> - <span>NEW DELHI</span> - <span>HOWRAH Rajdhani Exp (Via Patna)</span></p>
          </div>
          <div class="col-xs-4 eta-time">
            <p>Eta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 sta-time">
            <p>Sta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 on-time text-right">
            <p>On Time</p>
          </div>
          <div class="col-xs-12 pltf">
            <div class="dropdown-2">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Platform #14
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="trn-rslt-show divider">
          <div class="col-xs-12">
            <p><span>12306</span> - <span>NEW DELHI</span> - <span>HOWRAH Rajdhani Exp (Via Patna)</span></p>
          </div>
          <div class="col-xs-4 eta-time">
            <p>Eta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 sta-time">
            <p>Sta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 on-time text-right">
            <p>On Time</p>
          </div>
          <div class="col-xs-12 pltf">
            <div class="dropdown-2">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Platform #14
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="trn-rslt-show divider">
          <div class="col-xs-12">
            <p><span>12306</span> - <span>NEW DELHI</span> - <span>HOWRAH Rajdhani Exp (Via Patna)</span></p>
          </div>
          <div class="col-xs-4 eta-time">
            <p>Eta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 sta-time">
            <p>Sta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 on-time text-right">
            <p>On Time</p>
          </div>
          <div class="col-xs-12 pltf">
            <div class="dropdown-2">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Platform #14
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="trn-rslt-show divider">
          <div class="col-xs-12">
            <p><span>12306</span> - <span>NEW DELHI</span> - <span>HOWRAH Rajdhani Exp (Via Patna)</span></p>
          </div>
          <div class="col-xs-4 eta-time">
            <p>Eta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 sta-time">
            <p>Sta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 on-time text-right">
            <p>On Time</p>
          </div>
          <div class="col-xs-12 pltf">
            <div class="dropdown-2">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Platform #14
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="trn-rslt-show divider">
          <div class="col-xs-12">
            <p><span>12306</span> - <span>NEW DELHI</span> - <span>HOWRAH Rajdhani Exp (Via Patna)</span></p>
          </div>
          <div class="col-xs-4 eta-time">
            <p>Eta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 sta-time">
            <p>Sta: <span>16:55</span></p>
          </div>
          <div class="col-xs-4 on-time text-right">
            <p>On Time</p>
          </div>
          <div class="col-xs-12 pltf">
            <div class="dropdown-2">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown">Platform #14
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
                <li><a href="#">Platform #1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  